
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f8fcfd;
    margin:0;
  }
  
  .logo img {
    height: 60px;
  }

  .logo p {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    top: 5px;
    left: 28px;
  }

nav {
    background-color: #0975c7; /* warna background navigasi */
    border: 1px solid #0975c7; /* warna dan lebar border */
    border-radius: 10px; /* radius border */
    overflow: hidden; /* untuk memastikan konten di dalam navigasi tidak muncul di luar border */
  }

  .search{
    background-color: #f2f5f7; /* warna background navigasi */
    border: 2px solid #f2f5f7; /* warna dan lebar border */
    border-radius: 4px; /* radius border */
    overflow: hidden; /* untuk memastikan konten di dalam navigasi tidak muncul di luar border */
    font-size: 15px;
    font-weight: bold;
  }
  .search img{
    width: 15px;
    margin-top: 2px;
    margin-left: 3px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  
  nav li {
    margin-right: 30px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: white;
  }
        .container {
			display: flex;
			overflow-x: auto;
			scrollbar-width: none; /* untuk menghilangkan scrollbar di Firefox */
			-ms-overflow-style: none; /* untuk menghilangkan scrollbar di IE */
		}
		.container::-webkit-scrollbar {
			display: none; /* untuk menghilangkan scrollbar di Chrome dan Safari */
		}
		.card {
			flex: 0 0 200px;
			margin: 0 10px;
			background-color: #3da1e4;
			border: 1px solid #ddd;
			border-radius: 5px;
			padding: 20px;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
			transition: all 0.3s ease-in-out;
		}
		.card:hover {
			transform: scale(1.05);
			box-shadow: 0 0 20px rgba(0,0,0,0.2);
		}

        .card img{
            max-width: 100%;
			max-height: 100%;
			object-fit: contain;
        }

        .card-body h3{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .card-body p {
            text-align: center;
            margin-top: 0;
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-size: 12px;
        }

        .container-button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 5vh;
		}
		.daftar {
			padding: 10px 20px;
			background-color: #17629c;
			color: #fff;
			font-size:15px;
			border: none;
			border-radius: 7px;
			cursor: pointer;
            text-decoration: none;
		}
        .daftar:hover{
            background-color: #145383;
            color: #000;
        }

        .awal{
            padding: 10px 20px;
			background-color: #17629c;
			color: #fff;
			font-size:15px;
			border: none;
			border-radius: 7px;
            text-decoration: none;
        }
        .awal h1{
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background: linear-gradient(to right, rgb(198, 225, 251), rgb(39, 114, 228));
          }