header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #f8fcfd;
    margin:0;
  }
  
  .logo img {
    height: 60px;
  }

  .logo p {
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    position: relative;
    top: 5px;
    left: 28px;
  }

nav {
    background-color: #0975c7; /* warna background navigasi */
    border: 1px solid #0975c7; /* warna dan lebar border */
    border-radius: 10px; /* radius border */
    overflow: hidden; /* untuk memastikan konten di dalam navigasi tidak muncul di luar border */
  }

  .search{
    background-color: #f2f5f7; /* warna background navigasi */
    border: 2px solid #f2f5f7; /* warna dan lebar border */
    border-radius: 10px; /* radius border */
    overflow: hidden; /* untuk memastikan konten di dalam navigasi tidak muncul di luar border */
    font-size: 15px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  
  nav li {
    margin-right: 30px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  nav a:hover {
    color: white;
  }

  .judul h1{
    text-align: center;
  }
 .syarat h2{
    color:#000;
 }
 .syarat p{
    color:#000;
 }

 
 .bkg{
    position: relative;
    padding: 10px;
  }
  .daftar{
    position: relative;
    padding: 10px;
  }

  .button-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  
.bkg,
.regis {
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: bold;
  position:relative;
  text-decoration: none;
  color: #000;
}

.bkg:hover,
.regis:hover {
  background-color: #2836da;
  color:white;
  
}

.bkg a{
  color:black;
}

.bkg a:hover {
  color: white;
}
.regis a{
  color:black;
}

.regis a:hover {
  color: white;
}

.gambar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0.50;
}
  body{
      background: linear-gradient(to right, rgb(198, 225, 251), rgb(39, 114, 228));
      background-repeat: no-repeat;
	    background-size: cover;
    
}